@use '../mixins/' as *;

// BODY
.privacyPolicy {
	// MAIN
	.main {
		padding: 3em 2em;

		.wrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: start;
			margin: 0 auto;
		}

		&__title {
			@include sectionTitle;
			margin: 1em 0;
		}

		&__section {
			margin: 2em 0;
		}

		&__subtitle {
			font-size: 2rem;
			margin-bottom: 0.5em;
		}

		&__text {
			font-size: 1.6rem;
		}

		ul,
		li {
			font-size: 1.6rem;
			margin-left: 0.5em;
			list-style-type: '» ';
		}

		&__link {
			color: #b99a45;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

// MEDIA QUERIES
@media (width >= 425px) {
	// BODY
	.privacyPolicy {
		.main {
			.wrapper {
				width: 90%;
				margin: 0 auto;
			}
		}
	}
}

@media (width >= 1024px) {
	// BODY
	.privacyPolicy {
		.main {
			.wrapper {
				width: 75%;
				margin: 0 auto;
			}
		}
	}
}

@media (width >= 1440px) {
	// BODY
	.privacyPolicy {
		// MAIN
		.main {
			.wrapper {
				width: 50%;
				margin: 0 auto;
			}
		}
	}
}
