@use '../mixins/' as *;

// BODY
.privacyPolicy {
	// MAIN
	.main {
		padding: 3em 2em;

		.wrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: start;
			margin: 0 auto;
		}

		&__title {
			@include sectionTitle;
			margin: 1em 0;
		}

		&__section {
			margin: 2em 0;
		}

		&__subtitle {
			font-size: 2rem;
			margin-bottom: 0.5em;
		}

		&__text {
			font-size: 1.6rem;
		}

		ul,
		li {
			font-size: 1.6rem;
			margin-left: 0.5em;
			list-style-type: '» ';
		}

		&__link {
			color: #b99a45;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	// STOPKA - FOOTER
	.footer {
		background-color: #090909;
		padding: 3em 2em;

		&__right {
			display: none;
		}

		&__brand {
			font-size: 2.2rem;
			margin: 0.5em 0;
		}

		&__text {
			font-size: 1.8rem;
			margin-bottom: 1em;
		}

		&__year {
			margin-bottom: 2em;
		}

		&__links {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 2.5em;
			margin: 3em 0 1em;
		}

		&__link {
			color: #b99a45;
		}

		&__link-icon {
			width: 40px;
			height: auto;
		}

		&__authors {
			margin-top: 1em;
			font-size: 1.6rem;
			display: flex;
			flex-direction: column;

			&-link {
				color: gray;
			}
		}
	}
}

// MEDIA QUERIES
@media (width >= 425px) {
	// BODY
	.privacyPolicy {
		.main {
			.wrapper {
				width: 90%;
				margin: 0 auto;
			}
		}
	}
}

@media (width >= 1024px) {
	// BODY
	.privacyPolicy {
		.main {
			.wrapper {
				width: 75%;
				margin: 0 auto;
			}
		}
	}
}

@media (width >= 1440px) {
	// BODY
	.privacyPolicy {
		// MAIN
		.main {
			.wrapper {
				width: 50%;
				margin: 0 auto;
			}
		}
	}
}
