.footer {
	background-color: #090909;
	padding: 3em 2em;

	&__right {
		display: none;
	}

	&__brand {
		font-size: 2.2rem;
		margin: 0.5em 0;
	}

	&__text {
		font-size: 1.8rem;
		margin-bottom: 1em;
	}

	&__year {
		margin-bottom: 2em;
	}

	&__links {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2.5em;
		margin: 3em 0 1em;
	}

	&__link {
		color: #b99a45;
	}

	&__link-icon {
		width: 40px;
		height: auto;
	}

	&__authors {
		margin-top: 1em;
		font-size: 1.6rem;
		display: flex;
		flex-direction: column;

		&-link {
			color: gray;
		}
	}
}

@media (width >= 768px) {
	.footer {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2em;
		padding: 3em;
		&__right {
			display: flex;
			width: 35%;
			font-size: 1.6rem;
			p {
				color: #d8d8d8;
			}
		}
	}
}

@media (width >= 1024px) {
	.footer {
		padding: 5em;
		&__right {
			width: 30%;
			margin: 0 auto;
		}
	}
}

@media (width >= 1150px) {
	.footer {
		&__right {
			width: 35%;
		}
	}
}

@media (width >= 1440px) {
	.footer {
		gap: 10em;
		&__right {
			width: 40%;
			margin: 0;
		}
	}
}
